<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <!--MENU NAVEGACION-->
    <div class="contenedor-header">
        <header>
            <div class="logo">
                <a href="#">Francisco >></a>
            </div>
            <nav id="menu">
                <ul>
                    <li><a href="#Inicio">Inicio</a></li>
                    <li><a href="#Sobremi">Sobre mi</a></li>
                    <li><a href="#Tecnologias">Tecnologias</a></li>
                    <li><a href="#Experiencia">Experiencia</a></li>
                    <li><a href="#Contacto">Contacto</a></li>
                </ul>
            </nav>
            <div class="nav-responsive">
                <fa-icon [icon]="faBars"></fa-icon>
            </div>
        </header>
    </div>
</body>
</html>

