<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="experiencias" id="Experiencia">
            <h2 class="titulo-experiencia">Experiencia</h2>
            <div class="container">
                    <div class="item">
                    <h2 class="fecha-experiencia">2022-EN CURSO</h2>
                    <h3 class="empresa-experiencia">Proyecto enterarte</h3>
                    <h4 class="puesto-experiencia">Desarrolador Frontend</h4>
                    <div class="btn-dequesetrata"><a href="">+ Informacion</a></div>
                    <nav class="redes">
                        <ul class="lista-redes">
                            <li>
                                <a class="" href="">
                                    
                                    <img  src="assets/icons8-github-96.png" alt="GitHub">
                                </a>
                            </li>
                        </ul>
                    </nav>
                    </div>
                    <div class="item">
                        <h2 class="fecha-experiencia">2022-EN CURSO</h2>
                        <h3 class="empresa-experiencia">Portfolio Profesional </h3>
                        <h4 class="puesto-experiencia">Desarrolador Fullstack</h4>
                        <div class="btn-dequesetrata"><a href="">+ Informacion</a></div>
                        <nav class="redes">
                            <ul class="lista-redes">
                                <li>
                                    <a class="" href="">
                                        
                                        <img  src="assets/icons8-github-96.png" alt="GitHub">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        </div>
                        <div class="item">
                            <h2 class="fecha-experiencia">2022</h2>
                            <h3 class="empresa-experiencia">Proyecto enterARTE </h3>
                            <h4 class="puesto-experiencia">FullStack-developer</h4>
                            <div class="btn-dequesetrata"><a href="">+ Informacion</a></div>
                            <nav class="redes">
                                <ul class="lista-redes">
                                    <li>
                                        <a class="" href="">
                                            
                                            <img  src="assets/icons8-github-96.png" alt="GitHub">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            </div>
                    
  

            </div>
        

    </section>
</body>
</html>
