<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

        <!--SECCION TECNOLOGIAS-->
        
        <section class="habilidades" id="habilidades">
            <div class="contenido-seccion">
                <h2 class="titulo-habilidades">Habilidades</h2>
                    <div class="fila">
                        <!--Habillidades Tecnicas-->
                        <div class="columna">
                            <h3>Habilidades Tecnicas</h3>
                            <div class="habilidad">
                                <span>HTML</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>80%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>CSS</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>JavaScript</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>60%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>Angular</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>60%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>Mysql</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>40%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>Python</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>60%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>Wordpress</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>50%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columna">
                            <h3>Habilidades Profesionales</h3>
                            <div class="habilidad">
                                <span>Comunucacion</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>80%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>Trabajo en Equipo</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>Creatividad</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>99%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>Adaptacion</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>80%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>Flexibilidad</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>80%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>Liderazgo</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="habilidad">
                                <span>Perseverancia</span>
                                <div class="barra-habilidad">
                                    <div class="progreso">
                                        <span>80%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
       
        </section>
    
</body>
</html>
