<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--SECCION CURRICULUM -->

    <section class="curriculum" id="curriculum">
        <div class="contenido-seccion">
            <h2>Curriculum</h2>
            <div class="fila">
                <div class="columna izquierda">
                    <h3>Educacion</h3>
                    <div class="item izq">
                        <h4>Desarrollo Web y Aplicaciones digitales</h4>
                        <span class="establecimiento">Instituto Superior Politecnico de Cordoba</span>
                        <span class="fecha">2022 - En curso</span>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, consequatur! 
                            Expedita perspiciatis quia facere, iste minima molestias blanditiis non earum nostrum iure, 
                            repellat adipisci. Incidunt nemo architecto minima eveniet voluptas?</p>
                            <div class="conector-i">
                                <div class="circuloi">

                                </div>
                            </div>
                    </div>
                    <div class="item izq">
                        <h4>Desarrollo Web y Aplicaciones digitales</h4>
                        <span class="establecimiento">Instituto Superior Politecnico de Cordoba</span>
                        <span class="fecha">2022 - En curso</span>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, consequatur! 
                            Expedita perspiciatis quia facere, iste minima molestias blanditiis non earum nostrum iure, 
                            repellat adipisci. Incidunt nemo architecto minima eveniet voluptas?</p>
                            <div class="conector-i">
                                <div class="circuloi">
                                    
                                </div>
                            </div>
                    </div>
                    <div class="item izq">
                        <h4>Desarrollo Web y Aplicaciones digitales</h4>
                        <span class="establecimiento">Instituto Superior Politecnico de Cordoba</span>
                        <span class="fecha">2022 - En curso</span>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, consequatur! 
                            Expedita perspiciatis quia facere, iste minima molestias blanditiis non earum nostrum iure, 
                            repellat adipisci. Incidunt nemo architecto minima eveniet voluptas?</p>
                            <div class="conector-i">
                                <div class="circuloi">
                                    
                                </div>
                            </div>
                    </div>
                </div>

                <div class="columna derecha">
                    <h3>Experiencia</h3>
                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="establecimiento">Compania</span>
                        <span class="fecha">2022 - En curso</span>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, consequatur! 
                            Expedita perspiciatis quia facere, iste minima molestias blanditiis non earum nostrum iure, 
                            repellat adipisci. Incidunt nemo architecto minima eveniet voluptas?</p>
                            <div class="conector-d">
                                <div class="circulod">

                                </div>
                            </div>
                    </div>

                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="establecimiento">Compania</span>
                        <span class="fecha">2022 - En curso</span>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, consequatur! 
                            Expedita perspiciatis quia facere, iste minima molestias blanditiis non earum nostrum iure, 
                            repellat adipisci. Incidunt nemo architecto minima eveniet voluptas?</p>
                            <div class="conector-d">
                                <div class="circulod">

                                </div>
                            </div>
                    </div>

                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="establecimiento">Compania</span>
                        <span class="fecha">2022 - En curso</span>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, consequatur! 
                            Expedita perspiciatis quia facere, iste minima molestias blanditiis non earum nostrum iure, 
                            repellat adipisci. Incidunt nemo architecto minima eveniet voluptas?</p>
                            <div class="conector-d">
                                <div class="circulod">

                                </div>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>
